# **PROJECT:** Performance of Players Analytic for Each Club

In [89]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Players

In [90]:
players = pd.read_csv("players.csv")
players

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32596,1375876,NaN,Diego Henrique,Diego Henrique,2024,86209,diego-henrique,Brazil,"Andradina, SP",Brazil,...,left,170.0,2026-06-30 00:00:00,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/diego-henrique...,UKR1,FK Livyi Bereh,NaN,NaN
32597,1378362,Orseer,Achihi,Orseer Achihi,2024,1096,orseer-achihi,NaN,NaN,Nigeria,...,NaN,NaN,2029-06-30 00:00:00,Aneke/PMG,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/orseer-achihi/...,BE1,Royal Antwerp Football Club,NaN,NaN
32598,1380311,Prince Amoako,Junior,Prince Amoako Junior,2024,2778,prince-amoako-junior,NaN,NaN,Ghana,...,NaN,NaN,2029-12-31 00:00:00,CAA Stellar,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/prince-amoako-...,DK1,Fodbold Club Nordsjælland,NaN,NaN
32599,1380876,Gabriel Jesus,David,Gabriel Jesus David,2024,1096,gabriel-jesus-david,NaN,NaN,Nigeria,...,NaN,NaN,2025-06-30 00:00:00,Aneke/PMG,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/gabriel-jesus-...,BE1,Royal Antwerp Football Club,NaN,NaN
32600,1391239,Mohamed,Fofana,Mohamed Fofana,2024,601,mohamed-fofana,NaN,NaN,Cote d'Ivoire,...,right,NaN,2028-06-30 00:00:00,4FC,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/mohamed-fofana...,BE1,Koninklijke Voetbalclub Kortrijk,NaN,NaN

In [91]:
players_cleaned = players.dropna(subset=['position'])

In [92]:
# players.info()
print(players.isnull().sum())
print(players.duplicated().sum())

player_id                                   0
first_name                               2062
last_name                                   0
name                                        0
last_season                                 0
current_club_id                             0
player_code                                 0
country_of_birth                         2799
city_of_birth                            2455
country_of_citizenship                    383
date_of_birth                              47
sub_position                              180
position                                    0
foot                                     2536
height_in_cm                             2256
contract_expiration_date                12091
agent_name                              16019
image_url                                   0
url                                         0
current_club_domestic_competition_id        0
current_club_name                           0
market_value_in_eur                      1523
highest_market_value_in_eur              1523
dtype: int64
0

In [93]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32601 entries, 0 to 32600
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             32601 non-null  int64
 1   first_name                            30539 non-null  object
 2   last_name                             32601 non-null  object
 3   name                                  32601 non-null  object
 4   last_season                           32601 non-null  int64
 5   current_club_id                       32601 non-null  int64
 6   player_code                           32601 non-null  object
 7   country_of_birth                      29802 non-null  object
 8   city_of_birth                         30146 non-null  object
 9   country_of_citizenship                32218 non-null  object
 10  date_of_birth                         32554 non-null  object
 11  sub_position                          32421 non-null  object
 12  position                              32601 non-null  object
 13  foot                                  30065 non-null  object
 14  height_in_cm                          30345 non-null  float64
 15  contract_expiration_date              20510 non-null  object
 16  agent_name                            16582 non-null  object
 17  image_url                             32601 non-null  object
 18  url                                   32601 non-null  object
 19  current_club_domestic_competition_id  32601 non-null  object
 20  current_club_name                     32601 non-null  object
 21  market_value_in_eur                   31078 non-null  float64
 22  highest_market_value_in_eur           31078 non-null  float64
dtypes: float64(3), int64(3), object(17)
memory usage: 5.7+ MB

In [94]:
players['sub_position'] = players['sub_position'].replace({'Second Striker': 'Striker', 'Centre-Forward': 'Striker'})
print(players[['sub_position', 'name']])

             sub_position                  name
0                 Striker        Miroslav Klose
1              Goalkeeper    Roman Weidenfeller
2                 Striker      Dimitar Berbatov
3             Centre-Back                 Lúcio
4              Goalkeeper            Tom Starke
...                   ...                   ...
32596  Attacking Midfield        Diego Henrique
32597         Left Winger         Orseer Achihi
32598         Left Winger  Prince Amoako Junior
32599             Striker   Gabriel Jesus David
32600          Right-Back        Mohamed Fofana

[32601 rows x 2 columns]

In [95]:
players["date_of_birth"] = players["date_of_birth"].str.split(" ").str[0]

In [96]:
players['date_of_birth'] = pd.to_datetime(players["date_of_birth"], format="%Y-%m-%d")
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32601 entries, 0 to 32600
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             32601 non-null  int64
 1   first_name                            30539 non-null  object
 2   last_name                             32601 non-null  object
 3   name                                  32601 non-null  object
 4   last_season                           32601 non-null  int64
 5   current_club_id                       32601 non-null  int64
 6   player_code                           32601 non-null  object
 7   country_of_birth                      29802 non-null  object
 8   city_of_birth                         30146 non-null  object
 9   country_of_citizenship                32218 non-null  object
 10  date_of_birth                         32554 non-null  datetime64[ns]
 11  sub_position                          32421 non-null  object
 12  position                              32601 non-null  object
 13  foot                                  30065 non-null  object
 14  height_in_cm                          30345 non-null  float64
 15  contract_expiration_date              20510 non-null  object
 16  agent_name                            16582 non-null  object
 17  image_url                             32601 non-null  object
 18  url                                   32601 non-null  object
 19  current_club_domestic_competition_id  32601 non-null  object
 20  current_club_name                     32601 non-null  object
 21  market_value_in_eur                   31078 non-null  float64
 22  highest_market_value_in_eur           31078 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(16)
memory usage: 5.7+ MB

In [97]:
# Dropping the column
players_cleaned = players.drop(columns=['contract_expiration_date','agent_name'])
players_cleaned = players_cleaned.dropna()
print(players_cleaned.isnull().sum())

player_id                               0
first_name                              0
last_name                               0
name                                    0
last_season                             0
current_club_id                         0
player_code                             0
country_of_birth                        0
city_of_birth                           0
country_of_citizenship                  0
date_of_birth                           0
sub_position                            0
position                                0
foot                                    0
height_in_cm                            0
image_url                               0
url                                     0
current_club_domestic_competition_id    0
current_club_name                       0
market_value_in_eur                     0
highest_market_value_in_eur             0
dtype: int64

In [98]:
abs(players_cleaned.select_dtypes(exclude='object').corr())

,player_id,last_season,current_club_id,date_of_birth,height_in_cm,market_value_in_eur,highest_market_value_in_eur
player_id,1.000000,0.549904,0.080104,0.867762,0.009353,0.146902,0.037522
last_season,0.549904,1.000000,0.094738,0.613098,0.063655,0.259048,0.242385
current_club_id,0.080104,0.094738,1.000000,0.038539,0.023389,0.069659,0.094548
date_of_birth,0.867762,0.613098,0.038539,1.000000,0.001609,0.186765,0.001610
height_in_cm,0.009353,0.063655,0.023389,0.001609,1.000000,0.013314,0.002264
market_value_in_eur,0.146902,0.259048,0.069659,0.186765,0.013314,1.000000,0.779127
highest_market_value_in_eur,0.037522,0.242385,0.094548,0.001610,0.002264,0.779127,1.000000

# Appearances

In [99]:
appearances = pd.read_csv("appearances.csv")
appearances

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1706801,4547798_811779,4547798,811779,985,985,2025-04-10,Alejandro Garnacho,EL,0,0,0,0,83
1706802,4547798_820374,4547798,820374,985,985,2025-04-10,Kobbie Mainoo,EL,1,0,0,0,7
1706803,4547798_923831,4547798,923831,985,985,2025-04-10,Leny Yoro,EL,0,0,1,0,90
1706804,4547798_926952,4547798,926952,985,985,2025-04-10,Patrick Dorgu,EL,0,0,0,0,90
1706805,4547798_93720,4547798,93720,1041,1041,2025-04-10,Alexandre Lacazette,EL,0,0,0,0,39

In [100]:
print(appearances.isnull().sum())
print(appearances.duplicated().sum())

appearance_id             0
game_id                   0
player_id                 0
player_club_id            0
player_current_club_id    0
date                      0
player_name               6
competition_id            0
yellow_cards              0
red_cards                 0
goals                     0
assists                   0
minutes_played            0
dtype: int64
0

In [101]:
# Merge appearances and players DataFrames on player_id
merged_df = appearances.merge(players[['player_id', 'name']], how='left', on='player_id')

appearances_cleaned = appearances

# Fill null values in player_name with the merged values
appearances_cleaned['player_name'] = merged_df['name'].fillna(method='ffill')

print(appearances_cleaned.isnull().sum())
print(appearances_cleaned.duplicated().sum())

/var/folders/k_/qvdd2kjj3llg07yb2nc8r9t80000gn/T/ipykernel_45128/812586121.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  appearances_cleaned['player_name'] = merged_df['name'].fillna(method='ffill')

appearance_id             0
game_id                   0
player_id                 0
player_club_id            0
player_current_club_id    0
date                      0
player_name               0
competition_id            0
yellow_cards              0
red_cards                 0
goals                     0
assists                   0
minutes_played            0
dtype: int64
0

In [102]:
appearances_cleaned['date'] = pd.to_datetime(appearances_cleaned["date"], format="%Y-%m-%d")
appearances_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1706806 entries, 0 to 1706805
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   appearance_id           object
 1   game_id                 int64
 2   player_id               int64
 3   player_club_id          int64
 4   player_current_club_id  int64
 5   date                    datetime64[ns]
 6   player_name             object
 7   competition_id          object
 8   yellow_cards            int64
 9   red_cards               int64
 10  goals                   int64
 11  assists                 int64
 12  minutes_played          int64
dtypes: datetime64[ns](1), int64(9), object(3)
memory usage: 169.3+ MB

In [103]:
total_minutes = appearances.groupby('player_name')['minutes_played'].sum().reset_index()
print(total_minutes)

              player_name  minutes_played
0             A.J. Soares             421
1         AJ Leitch-Smith            1700
2      Aaron Appindangoyé            9601
3         Aaron Bastiaans             144
4         Aaron Boupendza            2586
...                   ...             ...
25136         İzzet Çelik            1500
25137        Şamil Öztürk               1
25138    Şener Özbayraklı           15897
25139      Ștefan Vlădoiu             379
25140         Αbdul Razak              11

[25141 rows x 2 columns]

**Clubs**

In [104]:
clubs = pd.read_csv("clubs.csv")
clubs

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,filename,url
0,105,sv-darmstadt-98,SV Darmstadt 98,L1,NaN,27,25.6,13,48.1,1,Merck-Stadion am Böllenfalltor,17810,+€3.05m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/sv-darmstadt-9...
1,11127,ural-ekaterinburg,Ural Yekaterinburg,RU1,NaN,30,26.5,11,36.7,3,Yekaterinburg Arena,23000,+€880k,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/ural-ekaterinb...
2,114,besiktas-istanbul,Beşiktaş Jimnastik Kulübü,TR1,NaN,30,26.6,15,50.0,8,Beşiktaş Park,42445,€-25.26m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/besiktas-istan...
3,12,as-rom,Associazione Sportiva Roma,IT1,NaN,26,26.3,18,69.2,17,Olimpico di Roma,70634,€-76.90m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/as-rom/startse...
4,148,tottenham-hotspur,Tottenham Hotspur Football Club,GB1,NaN,30,25.5,21,70.0,18,Tottenham Hotspur Stadium,62850,€-120.05m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/tottenham-hots...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,724,fc-volendam,FC Volendam,NL1,NaN,25,23.4,6,24.0,2,Kras Stadion,7384,+€800k,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/fc-volendam/st...
435,800,atalanta-bergamo,Atalanta Bergamasca Calcio S.p.a.,IT1,NaN,26,27.7,14,53.8,18,Gewiss Stadium,24950,+€11.45m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/atalanta-berga...
436,85465,karpaty-lviv-2020-,FK Karpaty Lviv,UKR1,NaN,29,25.6,7,24.1,2,Ukraina,28051,€-3.35m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/karpaty-lviv-2...
437,979,moreirense-fc,Moreirense Futebol Clube,PO1,NaN,26,26.4,17,65.4,3,Estádio C. J. de Almeida Freitas,6150,+€2.60m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/moreirense-fc/...
438,984,west-bromwich-albion,West Bromwich Albion,GB1,NaN,25,27.8,8,32.0,4,The Hawthorns,26850,€-1.35m,NaN,2020,../data/raw/transfermarkt-scraper/2020/clubs.j...,https://www.transfermarkt.co.uk/west-bromwich-...

In [105]:
print(clubs.isnull().sum())
print(clubs.duplicated().sum())

club_id                      0
club_code                    0
name                         0
domestic_competition_id      0
total_market_value         439
squad_size                   0
average_age                 38
foreigners_number            0
foreigners_percentage       49
national_team_players        0
stadium_name                 0
stadium_seats                0
net_transfer_record          0
coach_name                 439
last_season                  0
filename                     0
url                          0
dtype: int64
0

In [106]:
# Dropping the column
clubs_cleaned = clubs.drop(columns=['total_market_value','coach_name','stadium_name','stadium_seats'])
clubs_cleaned = clubs_cleaned.dropna()
print(clubs_cleaned.isnull().sum())

club_id                    0
club_code                  0
name                       0
domestic_competition_id    0
squad_size                 0
average_age                0
foreigners_number          0
foreigners_percentage      0
national_team_players      0
net_transfer_record        0
last_season                0
filename                   0
url                        0
dtype: int64

In [107]:
clubs_features = clubs[clubs['last_season'] >= 2024]

**Club Games**

In [108]:
club_games = pd.read_csv("club_games.csv") #games in 2012 - 2024
club_games

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
0,2320450,1468.0,0.0,NaN,Holger Bachthaler,24.0,2.0,NaN,Armin Veh,Home,0
1,2320454,222.0,0.0,NaN,Volkan Uluc,79.0,2.0,NaN,Bruno Labbadia,Home,0
2,2320460,1.0,3.0,NaN,Jürgen Luginger,86.0,1.0,NaN,Robin Dutt,Home,1
3,2320472,2036.0,4.0,NaN,Frank Schmidt,72.0,5.0,NaN,Alexander Schmidt,Home,0
4,2321027,33.0,3.0,8.0,Jens Keller,41.0,3.0,9.0,Thorsten Fink,Home,0
...,...,...,...,...,...,...,...,...,...,...,...
148047,3912717,62.0,0.0,NaN,Jindrich Trpisovsky,7769.0,2.0,NaN,Dan Petrescu,Away,0
148048,3912732,602.0,0.0,NaN,Vladimir Cheburin,540.0,0.0,NaN,Vladimír Weiss,Away,0
148049,3912739,540.0,0.0,NaN,Vladimír Weiss,10301.0,2.0,NaN,Eghishe Melikyan,Away,0
148050,4031421,2156.0,0.0,NaN,José Luis Oltra,379.0,4.0,NaN,David Moyes,Away,0
148051,4188444,1132.0,4.0,NaN,Vincent Kompany,34888.0,0.0,NaN,Neil Wood,Away,1

In [109]:
print(club_games.isnull().sum())
print(club_games.shape)

game_id                      0
club_id                     18
own_goals                   24
own_position             44934
own_manager_name          1656
opponent_id                 18
opponent_goals              24
opponent_position        44934
opponent_manager_name     1656
hosting                      0
is_win                       0
dtype: int64
(148052, 11)

In [110]:
# Dropping the column
club_games_cleaned = club_games.drop(columns=['own_position','own_manager_name','opponent_position','opponent_manager_name'])
# club_games_cleaned = club_games.dropna()
print(club_games_cleaned.isnull().sum())
print(club_games_cleaned.shape)

game_id            0
club_id           18
own_goals         24
opponent_id       18
opponent_goals    24
hosting            0
is_win             0
dtype: int64
(148052, 7)

In [111]:
clubs_games_filter = club_games_cleaned[club_games_cleaned['club_id'].isin(clubs_features.club_id)]
clubs_games_filter.shape

(91092, 7)

In [112]:
clubs_games_total_win = clubs_games_filter.groupby('club_id')['is_win'].sum()
clubs_games_total_win

club_id
5.0         311
11.0        389
12.0        341
13.0        412
15.0        321
           ...
71985.0      22
75231.0      10
85465.0      12
86209.0       9
110302.0      6
Name: is_win, Length: 237, dtype: int64

In [113]:
clubs_clean_modify = clubs_features.merge(clubs_games_total_win, on='club_id', how='inner')

In [114]:
clubs_clean_modify.sort_values(by='is_win', ascending=False).head()

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,filename,url,is_win
152,418,real-madrid,Real Madrid Club de Fútbol,ES1,NaN,24,27.0,17,70.8,19,Santiago Bernabéu,81044,€-33.00m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/real-madrid/st...,502
32,131,fc-barcelona,Futbol Club Barcelona,ES1,NaN,26,25.0,8,30.8,14,Olímpic Lluís Companys,55926,+€6.10m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/fc-barcelona/s...,502
221,27,fc-bayern-munchen,FC Bayern München,L1,NaN,26,27.7,15,57.7,17,Allianz Arena,75000,€-64.65m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/fc-bayern-munc...,490
178,281,manchester-city,Manchester City Football Club,GB1,NaN,28,26.7,21,75.0,21,Etihad Stadium,55097,€-102.00m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/manchester-cit...,465
139,371,celtic-glasgow,The Celtic Football Club,SC1,NaN,25,27.2,19,76.0,15,Celtic Park,60832,+€12.78m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/celtic-glasgow...,451

In [115]:
clubs_clean_modify[clubs_clean_modify['domestic_competition_id'] == 'GB1'].sort_values(by='is_win', ascending=False).head(6)

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,filename,url,is_win
178,281,manchester-city,Manchester City Football Club,GB1,NaN,28,26.7,21,75.0,21,Etihad Stadium,55097,€-102.00m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/manchester-cit...,465
21,31,fc-liverpool,Liverpool Football Club,GB1,NaN,25,26.6,18,72.0,22,Anfield,61276,+€5.00m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/fc-liverpool/s...,403
175,11,fc-arsenal,Arsenal Football Club,GB1,NaN,24,26.8,18,75.0,19,Emirates Stadium,60704,€-25.11m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/fc-arsenal/sta...,389
211,631,fc-chelsea,Chelsea Football Club,GB1,NaN,30,23.7,18,60.0,14,Stamford Bridge,41631,€-47.10m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/fc-chelsea/sta...,387
128,985,manchester-united,Manchester United Football Club,GB1,NaN,26,26.4,18,69.2,19,Old Trafford,74879,€-143.30m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/manchester-uni...,370
2,148,tottenham-hotspur,Tottenham Hotspur Football Club,GB1,NaN,30,25.5,21,70.0,18,Tottenham Hotspur Stadium,62850,€-120.05m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/tottenham-hots...,345

# Transfers

In [116]:
transfers = pd.read_csv("transfers.csv")
transfers

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
0,16136,2026-07-01,26/27,417,123,OGC Nice,Retired,NaN,500000.0,Dante
1,1138758,2026-07-01,26/27,336,631,Sporting CP,Chelsea,52140000.0,45000000.0,Geovany Quenda
2,195778,2026-06-30,25/26,79,27,VfB Stuttgart,Bayern Munich,0.0,12000000.0,Alexander Nübel
3,569033,2026-06-30,25/26,39,27,1.FSV Mainz 05,Bayern Munich,0.0,4000000.0,Armindo Sieb
4,626913,2026-06-30,25/26,398,380,Lazio,Salernitana,0.0,15000000.0,Boulaye Dia
...,...,...,...,...,...,...,...,...,...,...
79641,35207,1995-07-01,95/96,42281,11896,PTSV Dort. Yth.,Dortmund Yth.,0.0,NaN,Marco Reus
79642,22141,1994-07-01,94/95,59178,29463,Castellammare,Sorrento Youth,NaN,NaN,Antonio Mirante
79643,33829,1994-07-01,94/95,58405,53957,FC Penafiel You,Sporting Yth.,NaN,NaN,José Fonte
79644,40680,1994-07-01,94/95,47320,47318,Lichtenw. Yth.,Schornbach Yth.,0.0,NaN,Sven Ulreich
79645,61989,1993-07-01,93/94,55345,55343,A. Ickern Yth.,VfR Rauxel Yth.,0.0,NaN,Michael Esser

In [117]:
transfers_cleaned = transfers['transfer_fee'].dropna()
transfers_cleaned = transfers['market_value_in_eur'].dropna()

In [118]:
transfers

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
0,16136,2026-07-01,26/27,417,123,OGC Nice,Retired,NaN,500000.0,Dante
1,1138758,2026-07-01,26/27,336,631,Sporting CP,Chelsea,52140000.0,45000000.0,Geovany Quenda
2,195778,2026-06-30,25/26,79,27,VfB Stuttgart,Bayern Munich,0.0,12000000.0,Alexander Nübel
3,569033,2026-06-30,25/26,39,27,1.FSV Mainz 05,Bayern Munich,0.0,4000000.0,Armindo Sieb
4,626913,2026-06-30,25/26,398,380,Lazio,Salernitana,0.0,15000000.0,Boulaye Dia
...,...,...,...,...,...,...,...,...,...,...
79641,35207,1995-07-01,95/96,42281,11896,PTSV Dort. Yth.,Dortmund Yth.,0.0,NaN,Marco Reus
79642,22141,1994-07-01,94/95,59178,29463,Castellammare,Sorrento Youth,NaN,NaN,Antonio Mirante
79643,33829,1994-07-01,94/95,58405,53957,FC Penafiel You,Sporting Yth.,NaN,NaN,José Fonte
79644,40680,1994-07-01,94/95,47320,47318,Lichtenw. Yth.,Schornbach Yth.,0.0,NaN,Sven Ulreich
79645,61989,1993-07-01,93/94,55345,55343,A. Ickern Yth.,VfR Rauxel Yth.,0.0,NaN,Michael Esser

# Player Valuations

In [119]:
playerVal = pd.read_csv("player_valuations.csv")
playerVal

,player_id,date,market_value_in_eur,current_club_id,player_club_domestic_competition_id
0,405973,2000-01-20,150000,3057,BE1
1,342216,2001-07-20,100000,1241,SC1
2,3132,2003-12-09,400000,126,TR1
3,6893,2003-12-15,900000,984,GB1
4,10,2004-10-04,7000000,398,IT1
...,...,...,...,...,...
496601,1152154,2025-03-31,3000000,720,PO1
496602,1173926,2025-03-31,1000000,294,PO1
496603,1178475,2025-03-31,300000,2424,PO1
496604,1234104,2025-03-31,300000,2503,PO1
496605,897423,2025-04-06,700000,82,L1

In [120]:
print(playerVal.isnull().sum())
print(playerVal.duplicated().sum())

player_id                              0
date                                   0
market_value_in_eur                    0
current_club_id                        0
player_club_domestic_competition_id    0
dtype: int64
0

In [121]:
playerVal_cleaned = playerVal.dropna()
print(playerVal_cleaned.isnull().sum())

player_id                              0
date                                   0
market_value_in_eur                    0
current_club_id                        0
player_club_domestic_competition_id    0
dtype: int64

# Tranfer Efficancy

In [122]:
transfers['value_to_fee_ratio'] = transfers['market_value_in_eur'] / (transfers['transfer_fee'] + 1)
transfers['value_to_fee_ratio'] = transfers['value_to_fee_ratio'].round(3)
print(transfers[['player_name', 'market_value_in_eur', 'transfer_fee', 'value_to_fee_ratio']].head())

       player_name  market_value_in_eur  transfer_fee  value_to_fee_ratio
0            Dante             500000.0           NaN                 NaN
1   Geovany Quenda           45000000.0    52140000.0        8.630000e-01
2  Alexander Nübel           12000000.0           0.0        1.200000e+07
3     Armindo Sieb            4000000.0           0.0        4.000000e+06
4      Boulaye Dia           15000000.0           0.0        1.500000e+07

# Minutes Played

In [123]:
total_minutes_played = appearances.groupby('player_name')['minutes_played'].sum()
total_minutes_played

player_name
A.J. Soares             421
AJ Leitch-Smith        1700
Aaron Appindangoyé     9601
Aaron Bastiaans         144
Aaron Boupendza        2586
                      ...
İzzet Çelik            1500
Şamil Öztürk              1
Şener Özbayraklı      15897
Ștefan Vlădoiu          379
Αbdul Razak              11
Name: minutes_played, Length: 25141, dtype: int64

In [124]:
appearances_players = appearances.merge(players[['player_id', 'sub_position']], on='player_id', how='inner')

In [125]:
appearances_players = appearances_players[appearances_players['minutes_played'] > 0]
appearances_players['goals_per_90'] = appearances_players['goals'] / (appearances_players['minutes_played'] / 90)

cap_lookup = appearances_players.groupby('sub_position')['goals_per_90'].quantile(0.99)

appearances_players['goals_per_90'] = appearances_players.apply(
    lambda row: min(row['goals_per_90'], cap_lookup.get(row['sub_position'], row['goals_per_90'])),
    axis=1
)

In [126]:

appearances_players['norm_goals_per_90'] = appearances_players.groupby('sub_position')['goals_per_90'].transform(
    lambda x: (x - x.min()) / (x.max() - x.min())
)

print(appearances_players[['player_name', 'sub_position', 'goals_per_90', 'norm_goals_per_90']].head())

        player_name      sub_position  goals_per_90  norm_goals_per_90
0  Aurélien Joachim           Striker           2.0           0.355556
1    Ruslan Abyshov       Centre-Back           0.0           0.000000
2       Sander Puri  Central Midfield           0.0           0.000000
3   Vegar Hedenstad        Right-Back           0.0           0.000000
4  Markus Henriksen       Centre-Back           0.0           0.000000

In [127]:
print(appearances_players.loc[appearances_players['player_name'] == 'Marco Reus',
      ['sub_position', 'goals_per_90', 'norm_goals_per_90']
      ])

               sub_position  goals_per_90  norm_goals_per_90
5591     Attacking Midfield      0.000000           0.000000
5989     Attacking Midfield      1.406250           0.421875
9510     Attacking Midfield      1.000000           0.300000
14527    Attacking Midfield      0.000000           0.000000
17975    Attacking Midfield      0.000000           0.000000
...                     ...           ...                ...
1579081  Attacking Midfield      1.363636           0.409091
1581150  Attacking Midfield      0.000000           0.000000
1581796  Attacking Midfield      0.000000           0.000000
1585185  Attacking Midfield      1.097561           0.329268
1589191  Attacking Midfield      0.000000           0.000000

[429 rows x 3 columns]

In [128]:
print(appearances_players.loc[appearances_players['sub_position'] == 'Striker',['goals_per_90', 'norm_goals_per_90']].describe())

        goals_per_90  norm_goals_per_90
count  255713.000000      255713.000000
mean        0.372397           0.066204
std         0.918875           0.163356
min         0.000000           0.000000
25%         0.000000           0.000000
50%         0.000000           0.000000
75%         0.000000           0.000000
max         5.625000           1.000000

In [129]:
appearances_players['assists_per_90'] = appearances_players['assists'] / (appearances_players['minutes_played'] / 90)

cap_lookup = appearances_players.groupby('sub_position')['assists_per_90'].quantile(0.99)

appearances_players['assists_per_90'] = appearances_players.apply(
    lambda row: min(row['assists_per_90'], cap_lookup.get(row['sub_position'], row['assists_per_90'])),
    axis=1
)


appearances_players['norm_assists_per_90'] = appearances_players.groupby('sub_position')['assists_per_90'].transform(
    lambda x: (x - x.min()) / (x.max() - x.min())
)

print(appearances_players[['player_name', 'sub_position', 'assists_per_90', 'norm_assists_per_90']].head())

        player_name      sub_position  assists_per_90  norm_assists_per_90
0  Aurélien Joachim           Striker             0.0                  0.0
1    Ruslan Abyshov       Centre-Back             0.0                  0.0
2       Sander Puri  Central Midfield             0.0                  0.0
3   Vegar Hedenstad        Right-Back             0.0                  0.0
4  Markus Henriksen       Centre-Back             1.0                  1.0

In [130]:
appearances_players['minutes_played_per_90'] = (appearances_players['minutes_played'] / 90)

cap_lookup = appearances_players.groupby('sub_position')['minutes_played_per_90'].quantile(0.99)

appearances_players['minutes_played_per_90'] = appearances_players.apply(
    lambda row: min(row['minutes_played_per_90'], cap_lookup.get(row['sub_position'], row['minutes_played_per_90'])),
    axis=1
)


appearances_players['norm_minutes_played_per_90'] = appearances_players.groupby('sub_position')['minutes_played_per_90'].transform(
    lambda x: (x - x.min()) / (x.max() - x.min())
)

print(appearances_players[['player_name', 'sub_position', 'minutes_played_per_90', 'norm_minutes_played_per_90']].head())

        player_name      sub_position  minutes_played_per_90  \
0  Aurélien Joachim           Striker                    1.0
1    Ruslan Abyshov       Centre-Back                    1.0
2       Sander Puri  Central Midfield                    0.5
3   Vegar Hedenstad        Right-Back                    1.0
4  Markus Henriksen       Centre-Back                    1.0

   norm_minutes_played_per_90
0                    1.000000
1                    1.000000
2                    0.494382
3                    1.000000
4                    1.000000

In [131]:
appearances_players['yellow_card_per_90'] = appearances_players['yellow_cards'] / (appearances_players['minutes_played'] / 90)

cap_lookup = appearances_players.groupby('sub_position')['yellow_card_per_90'].quantile(0.99)

appearances_players['yellow_card_per_90'] = appearances_players.apply(
    lambda row: min(row['yellow_card_per_90'], cap_lookup.get(row['sub_position'], row['yellow_card_per_90'])),
    axis=1
)


appearances_players['norm_yellow_card_per_90'] =1 - appearances_players.groupby('sub_position')['yellow_card_per_90'].transform(
    lambda x: (x - x.min()) / (x.max() - x.min())
)

print(appearances_players[['player_name', 'sub_position', 'yellow_card_per_90', 'norm_yellow_card_per_90']].head())

        player_name      sub_position  yellow_card_per_90  \
0  Aurélien Joachim           Striker                 0.0
1    Ruslan Abyshov       Centre-Back                 0.0
2       Sander Puri  Central Midfield                 0.0
3   Vegar Hedenstad        Right-Back                 0.0
4  Markus Henriksen       Centre-Back                 0.0

   norm_yellow_card_per_90
0                      1.0
1                      1.0
2                      1.0
3                      1.0
4                      1.0

In [132]:
appearances_players['red_card_per_90'] = appearances_players['red_cards'] / (appearances_players['minutes_played'] / 90)

cap_lookup = appearances_players.groupby('sub_position')['red_card_per_90'].quantile(0.99)

appearances_players['red_card_per_90'] = appearances_players.apply(
    lambda row: min(row['red_card_per_90'], cap_lookup.get(row['sub_position'], row['red_card_per_90'])),
    axis=1
)


appearances_players['norm_red_card_per_90'] =1 - appearances_players.groupby('sub_position')['red_card_per_90'].transform(
    lambda x: (x - x.min()) / (x.max() - x.min())
)

print(appearances_players[['player_name', 'sub_position', 'red_card_per_90', 'norm_red_card_per_90']].head())

        player_name      sub_position  red_card_per_90  norm_red_card_per_90
0  Aurélien Joachim           Striker              0.0                   NaN
1    Ruslan Abyshov       Centre-Back              0.0                   NaN
2       Sander Puri  Central Midfield              0.0                   NaN
3   Vegar Hedenstad        Right-Back              0.0                   NaN
4  Markus Henriksen       Centre-Back              0.0                   NaN

In [133]:
print(appearances_players.loc[appearances_players['player_name'] == 'Sergio Ramos',
      ['sub_position', 'red_card_per_90', 'norm_red_card_per_90']
      ])

        sub_position  red_card_per_90  norm_red_card_per_90
8219     Centre-Back              0.0                   NaN
8928     Centre-Back              0.0                   NaN
11965    Centre-Back              0.0                   NaN
12880    Centre-Back              0.0                   NaN
15994    Centre-Back              0.0                   NaN
...              ...              ...                   ...
1580434  Centre-Back              0.0                   NaN
1582194  Centre-Back              0.0                   NaN
1584525  Centre-Back              0.0                   NaN
1586877  Centre-Back              0.0                   NaN
1588902  Centre-Back              0.0                   NaN

[450 rows x 3 columns]

In [134]:

cap_95 = appearances_players.groupby('sub_position')['goals_per_90'].quantile(0.95).to_dict()
appearances_players['z_goals_per_90'] = appearances_players.apply(
    lambda row: min(row['goals_per_90'], cap_95.get(row['sub_position'], row['goals_per_90'])),
    axis=1
)
cap_95 = appearances_players.groupby('sub_position')['assists_per_90'].quantile(0.95).to_dict()
appearances_players['z_assists_per_90'] = appearances_players.apply(
    lambda row: min(row['assists_per_90'], cap_95.get(row['sub_position'], row['assists_per_90'])),
    axis=1
)
cap_95 = appearances_players.groupby('sub_position')['minutes_played_per_90'].quantile(0.95).to_dict()
appearances_players['z_minutes_played_per_90'] = appearances_players.apply(
    lambda row: min(row['minutes_played_per_90'], cap_95.get(row['sub_position'], row['minutes_played_per_90'])),
    axis=1
)
cap_95 = appearances_players.groupby('sub_position')['yellow_card_per_90'].quantile(0.95).to_dict()
appearances_players['z_yellow_card_per_90'] = appearances_players.apply(
    lambda row: min(row['yellow_card_per_90'], cap_95.get(row['sub_position'], row['yellow_card_per_90'])),
    axis=1
)
cap_95 = appearances_players.groupby('sub_position')['red_card_per_90'].quantile(0.95).to_dict()
appearances_players['z_red_card_per_90'] = appearances_players.apply(
    lambda row: min(row['red_card_per_90'], cap_95.get(row['sub_position'], row['red_card_per_90'])),
    axis=1
)

print(appearances_players[['player_name', 'sub_position', 'z_goals_per_90', 'z_assists_per_90', 'z_minutes_played_per_90','z_yellow_card_per_90','z_red_card_per_90']].head())

        player_name      sub_position  z_goals_per_90  z_assists_per_90  \
0  Aurélien Joachim           Striker             2.0               0.0
1    Ruslan Abyshov       Centre-Back             0.0               0.0
2       Sander Puri  Central Midfield             0.0               0.0
3   Vegar Hedenstad        Right-Back             0.0               0.0
4  Markus Henriksen       Centre-Back             0.0               0.0

   z_minutes_played_per_90  z_yellow_card_per_90  z_red_card_per_90
0                      1.0                   0.0                0.0
1                      1.0                   0.0                0.0
2                      0.5                   0.0                0.0
3                      1.0                   0.0                0.0
4                      1.0                   0.0                0.0

In [135]:
print(appearances_players.loc[appearances_players['player_name'] == 'Markus Henriksen',
      ['sub_position', 'assists', 'norm_assists_per_90']
      ])

       sub_position  assists  norm_assists_per_90
4       Centre-Back        1                  1.0
77      Centre-Back        0                  0.0
561     Centre-Back        1                  1.0
1344    Centre-Back        1                  1.0
2679    Centre-Back        1                  1.0
...             ...      ...                  ...
592099  Centre-Back        0                  0.0
626730  Centre-Back        0                  0.0
629911  Centre-Back        0                  0.0
631224  Centre-Back        0                  0.0
640576  Centre-Back        0                  0.0

[165 rows x 3 columns]

In [ ]:
# Merge market value based on player_id

appearances_players = appearances_players.merge(
    players[['player_id', 'market_value_in_eur']],
    on='player_id',
    how='left'
)
appearances_players.drop(columns=['market_value_in_eur_x'], inplace=True)
appearances_players.rename(columns={'market_value_in_eur_y': 'market_value_in_eur'}, inplace=True)

In [ ]:
z_score_columns = [
    'z_goals_per_90', 
    'z_assists_per_90', 
    'z_minutes_played_per_90', 
    'z_yellow_card_per_90', 
    'z_red_card_per_90'
]

correlations = {}
for col in z_score_columns:
    corr = appearances_players[[col, 'market_value_in_eur']].corr().iloc[0,1]
    correlations[col] = corr

print("Raw correlations:", correlations)

Raw correlations: {'z_goals_per_90': np.float64(0.07010578629928177), 'z_assists_per_90': np.float64(0.04991969948701556), 'z_minutes_played_per_90': np.float64(0.01751168353200563), 'z_yellow_card_per_90': np.float64(-0.011942461227446874), 'z_red_card_per_90': np.float64(-0.0003857259043670758)}

# Age

In [140]:
players_cleaned

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,sub_position,position,foot,height_in_cm,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,Striker,Attack,right,184.0,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,Goalkeeper,Goalkeeper,left,190.0,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,Goalkeeper,Goalkeeper,right,194.0,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0
7,132,Tomas,Rosicky,Tomas Rosicky,2015,11,tomas-rosicky,CSSR,Praha,Czech Republic,...,Attacking Midfield,Midfield,both,179.0,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tomas-rosicky/...,GB1,Arsenal Football Club,350000.0,17500000.0
8,162,Marc,Ziegler,Marc Ziegler,2012,79,marc-ziegler,Germany,Blieskastel,Germany,...,Goalkeeper,Goalkeeper,right,193.0,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/marc-ziegler/p...,L1,Verein für Bewegungsspiele Stuttgart 1893,200000.0,1250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32580,1294049,Tomás,Silva,Tomás Silva,2024,2503,tomas-silva,Portugal,Porto,Portugal,...,Left-Back,Defender,left,175.0,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tomas-silva/pr...,PO1,Boavista Futebol Clube,200000.0,200000.0
32581,1294052,João,Barros,João Barros,2024,2503,joao-barros,Portugal,Porto,Portugal,...,Left Winger,Attack,right,184.0,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/joao-barros/pr...,PO1,Boavista Futebol Clube,150000.0,150000.0
32584,1306131,Fábio,Sambú,Fábio Sambú,2024,2503,fabio-sambu,Portugal,Barreiro,Portugal,...,Striker,Attack,right,180.0,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/fabio-sambu/pr...,PO1,Boavista Futebol Clube,100000.0,100000.0
32585,1306851,Hakim,Sulemana,Hakim Sulemana,2024,5724,hakim-sulemana,Ghana,Techiman,Ghana,...,Left Winger,Attack,both,164.0,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/hakim-sulemana...,DK1,Randers Fodbold Club,50000.0,50000.0
32589,1310513,Aristide,Zossou,Aristide Zossou,2024,290,aristide-zossou,Cote d'Ivoire,Abobo,Cote d'Ivoire,...,Left Winger,Attack,right,178.0,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/aristide-zosso...,FR1,Association de la Jeunesse auxerroise,100000.0,100000.0

In [141]:
players_cleaned['date_of_birth']

0       1978-06-09
1       1980-08-06
4       1981-03-18
7       1980-10-04
8       1976-06-13
           ...
32580   2006-05-25
32581   2006-01-10
32584   2007-09-06
32585   2005-02-19
32589   2005-06-14
Name: date_of_birth, Length: 24989, dtype: datetime64[ns]

In [142]:
appearances_players['date'] = pd.to_datetime(appearances_players['date'])
appearances_players['year'] = appearances_players['date'].dt.year
match_counts_per_year = appearances_players.groupby(['player_id', 'year']).size()
valid_players = match_counts_per_year[match_counts_per_year >= 5].index.get_level_values('player_id')
appearances_players = appearances_players[appearances_players['player_id'].isin(valid_players)]

In [143]:
import pandas as pd
from datetime import datetime


players_cleaned['date_of_birth'] = pd.to_datetime(players_cleaned['date_of_birth'], errors='coerce')

reference_year = 2024
players_cleaned['age'] = reference_year - players_cleaned['date_of_birth'].dt.year


def age_to_score(age):
    if pd.isnull(age):
        return None
    elif age <= 20:
        return 0.2
    elif 21 <= age <= 24:
        return 0.5
    elif 25 <= age <= 29:
        return 1.0
    elif 30 <= age <= 32:
        return 0.8
    elif 33 <= age <= 35:
        return 0.6
    else:
        return 0.4

players_cleaned['age_score'] = players_cleaned['age'].apply(age_to_score)
players_cleaned.loc[players_cleaned['name'] == 'Sergio Ramos', 
                    ['name', 'date_of_birth', 'age_score']]

              name date_of_birth  age_score
2153  Sergio Ramos    1986-03-30        0.4

In [144]:
appearances_players.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1692826 entries, 0 to 1706799
Data columns (total 31 columns):
 #   Column                      Dtype
---  ------                      -----
 0   appearance_id               object
 1   game_id                     int64
 2   player_id                   int64
 3   player_club_id              int64
 4   player_current_club_id      int64
 5   date                        datetime64[ns]
 6   player_name                 object
 7   competition_id              object
 8   yellow_cards                int64
 9   red_cards                   int64
 10  goals                       int64
 11  assists                     int64
 12  minutes_played              int64
 13  sub_position                object
 14  goals_per_90                float64
 15  norm_goals_per_90           float64
 16  assists_per_90              float64
 17  norm_assists_per_90         float64
 18  minutes_played_per_90       float64
 19  norm_minutes_played_per_90  float64
 20  yellow_card_per_90          float64
 21  norm_yellow_card_per_90     float64
 22  red_card_per_90             float64
 23  norm_red_card_per_90        float64
 24  z_goals_per_90              float64
 25  z_assists_per_90            float64
 26  z_minutes_played_per_90     float64
 27  z_yellow_card_per_90        float64
 28  z_red_card_per_90           float64
 29  market_value_in_eur         float64
 30  year                        int32
dtypes: datetime64[ns](1), float64(16), int32(1), int64(9), object(4)
memory usage: 406.8+ MB

In [145]:
appearances_players.loc[:, 'season_year'] = appearances_players['date'].dt.year
seasons_per_player = appearances_players.groupby('player_id')['season_year'].nunique().reset_index()
seasons_per_player.rename(columns={'season_year': 'num_seasons'}, inplace=True)
seasons_per_player['season_norm'] = seasons_per_player['num_seasons'] / seasons_per_player['num_seasons'].max()

In [146]:
print(appearances_players.columns)
print(seasons_per_player.columns)

Index(['appearance_id', 'game_id', 'player_id', 'player_club_id',
       'player_current_club_id', 'date', 'player_name', 'competition_id',
       'yellow_cards', 'red_cards', 'goals', 'assists', 'minutes_played',
       'sub_position', 'goals_per_90', 'norm_goals_per_90', 'assists_per_90',
       'norm_assists_per_90', 'minutes_played_per_90',
       'norm_minutes_played_per_90', 'yellow_card_per_90',
       'norm_yellow_card_per_90', 'red_card_per_90', 'norm_red_card_per_90',
       'z_goals_per_90', 'z_assists_per_90', 'z_minutes_played_per_90',
       'z_yellow_card_per_90', 'z_red_card_per_90', 'market_value_in_eur',
       'year', 'season_year'],
      dtype='object')
Index(['player_id', 'num_seasons', 'season_norm'], dtype='object')

In [147]:
appearances_players = appearances_players.merge(seasons_per_player[['player_id', 'season_norm']], 
                                                 on='player_id', 
                                                 how='left')

In [148]:
appearances_players = appearances_players.merge(
    players_cleaned[['player_id', 'age_score']],
    on='player_id',
    how='left'
)

In [149]:
# คำนวณ total_minutes_played (ผลรวมของ normalized minutes played ต่อผู้เล่น)
appearances_players['total_minutes_played'] = appearances_players.groupby('player_id')['minutes_played'].transform('sum')

In [150]:
# คำนวณ total_minutes_played (ผลรวมของ minutes played ต่อผู้เล่น)
appearances_players['total_minutes_played'] = appearances_players.groupby('player_id')['minutes_played'].transform('sum')

# คำนวณ Min-Max Normalization สำหรับ total_minutes_played
total_min = appearances_players['total_minutes_played'].min()
total_max = appearances_players['total_minutes_played'].max()

appearances_players['norm_total_minutes_played'] = (appearances_players['total_minutes_played'] - total_min) / (total_max - total_min)

In [217]:
for col in ['age_score', 'norm_total_minutes_played', 'season_norm']:
    corr = appearances_players[[col, 'market_value_in_eur']].dropna().corr().iloc[0, 1]
    print(f"{col}: {corr}")

age_score: 0.18620162577603735
norm_total_minutes_played: 0.19256768512498115
season_norm: 0.0716486141033921

In [218]:
correlations = {
    'age_score': 0.05,
    'norm_total_minutes_played': 0.12,
    'season_norm': 0.08
}
total = sum(abs(v) for v in correlations.values())
weights = {k: abs(v) / total for k, v in correlations.items()}

In [219]:
appearances_players['experience_score'] = (
    appearances_players['age_score'] * weights['age_score'] +
    appearances_players['norm_total_minutes_played'] * weights['norm_total_minutes_played'] +
    appearances_players['season_norm'] * weights['season_norm']
)

In [220]:
appearances_players[['player_name', 'age_score', 'norm_total_minutes_played', 'season_norm', 'experience_score']].head()

,player_name,age_score,norm_total_minutes_played,season_norm,experience_score
0,Aurélien Joachim,0.4,0.106779,0.214286,0.199825
1,Ruslan Abyshov,0.4,0.011754,0.214286,0.154213
2,Sander Puri,0.4,0.004959,0.142857,0.128095
3,Vegar Hedenstad,0.6,0.055547,0.285714,0.238091
4,Markus Henriksen,0.8,0.237983,0.428571,0.411375

In [221]:
appearances_players[appearances_players['player_name'] == 'Sander Puri']

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,...,season_norm,age_score,total_minutes_played,norm_total_minutes_played,experience_score,current_club_name,country_of_citizenship,current_club_id,avg_market_value,performance_score
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,...,0.142857,0.4,264,0.004959,0.128095,Saint Mirren Football Club,Estonia,465,194902.912621,0.058411
627,2244341_42792,2244341,42792,6251,465,2012-07-19,Sander Puri,ELQ,0,0,...,0.142857,0.4,264,0.004959,0.128095,Saint Mirren Football Club,Estonia,465,194902.912621,0.028557
1368,2244357_42792,2244357,42792,6251,465,2012-07-26,Sander Puri,ELQ,0,0,...,0.142857,0.4,264,0.004959,0.128095,Saint Mirren Football Club,Estonia,465,194902.912621,0.005192
2595,2247086_42792,2247086,42792,6251,465,2012-08-02,Sander Puri,ELQ,0,0,...,0.142857,0.4,264,0.004959,0.128095,Saint Mirren Football Club,Estonia,465,194902.912621,0.584780
4031,2247099_42792,2247099,42792,6251,465,2012-08-09,Sander Puri,ELQ,1,0,...,0.142857,0.4,264,0.004959,0.128095,Saint Mirren Football Club,Estonia,465,194902.912621,-0.035696
105056,2227589_42792,2227589,42792,465,465,2013-03-31,Sander Puri,SC1,0,0,...,0.142857,0.4,264,0.004959,0.128095,Saint Mirren Football Club,Estonia,465,221258.581236,0.002596
106065,2227546_42792,2227546,42792,465,465,2013-04-03,Sander Puri,SC1,0,0,...,0.142857,0.4,264,0.004959,0.128095,Saint Mirren Football Club,Estonia,465,221258.581236,0.009086
107085,2227590_42792,2227590,42792,465,465,2013-04-06,Sander Puri,SC1,0,0,...,0.142857,0.4,264,0.004959,0.128095,Saint Mirren Football Club,Estonia,465,221258.581236,0.391522

In [154]:
print(match_counts_per_year[match_counts_per_year.index.get_level_values('player_id') == 42792])

player_id  year
42792      2012    5
           2013    3
dtype: int64

# Aggregated Team Level

In [155]:
Team_Layer = transfers.merge(
    players[['player_id', 'country_of_citizenship']],
    on='player_id',
    how='left'
)

In [156]:
Team_Layer = transfers.merge(
    players[['player_id', 'date_of_birth' ,'current_club_id','country_of_citizenship']],
    on='player_id',
    how='left'
)

In [157]:
print(Team_Layer.columns)

Index(['player_id', 'transfer_date', 'transfer_season', 'from_club_id',
       'to_club_id', 'from_club_name', 'to_club_name', 'transfer_fee',
       'market_value_in_eur', 'player_name', 'value_to_fee_ratio',
       'date_of_birth', 'current_club_id', 'country_of_citizenship'],
      dtype='object')

In [158]:
print(appearances_players.columns)

Index(['appearance_id', 'game_id', 'player_id', 'player_club_id',
       'player_current_club_id', 'date', 'player_name', 'competition_id',
       'yellow_cards', 'red_cards', 'goals', 'assists', 'minutes_played',
       'sub_position', 'goals_per_90', 'norm_goals_per_90', 'assists_per_90',
       'norm_assists_per_90', 'minutes_played_per_90',
       'norm_minutes_played_per_90', 'yellow_card_per_90',
       'norm_yellow_card_per_90', 'red_card_per_90', 'norm_red_card_per_90',
       'z_goals_per_90', 'z_assists_per_90', 'z_minutes_played_per_90',
       'z_yellow_card_per_90', 'z_red_card_per_90', 'market_value_in_eur',
       'year', 'season_year', 'season_norm', 'age_score',
       'total_minutes_played', 'norm_total_minutes_played',
       'experience_score'],
      dtype='object')

In [159]:
Team_Layer = players.merge(
    appearances_players[['player_id', 'player_name', 'season_year']],  # ใช้คอลัมน์ที่มีอยู่
    on='player_id',
    how='left'
)

In [160]:
Team_Layer = players.merge(
    appearances_players[['player_id', 'date']],
    on='player_id',
    how='left'
)

In [161]:
Team_Layer['date'] = pd.to_datetime(Team_Layer['date'])  # แปลงเป็น datetime ก่อนถ้ายังไม่ใช่
Team_Layer['season_year'] = Team_Layer['date'].dt.year

In [162]:
team_nationality_diversity = Team_Layer.groupby(['current_club_id', 'season_year'])['country_of_citizenship'].nunique().reset_index()
team_nationality_diversity.rename(columns={'country_of_citizenship': 'nationality_diversity'}, inplace=True)

In [163]:
Team_Layer = Team_Layer.merge(
    team_nationality_diversity,
    on=['current_club_id', 'season_year'],
    how='left'
)

In [164]:


# แล้วค่อย merge ใหม่
Team_Layer = Team_Layer.merge(
    players[['player_id', 'country_of_citizenship', 'current_club_id', 'current_club_name']],
    on='player_id',
    how='left'
)

In [165]:
Team_Layer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705235 entries, 0 to 1705234
Data columns (total 29 columns):
 #   Column                                Dtype
---  ------                                -----
 0   player_id                             int64
 1   first_name                            object
 2   last_name                             object
 3   name                                  object
 4   last_season                           int64
 5   current_club_id_x                     int64
 6   player_code                           object
 7   country_of_birth                      object
 8   city_of_birth                         object
 9   country_of_citizenship_x              object
 10  date_of_birth                         datetime64[ns]
 11  sub_position                          object
 12  position                              object
 13  foot                                  object
 14  height_in_cm                          float64
 15  contract_expiration_date              object
 16  agent_name                            object
 17  image_url                             object
 18  url                                   object
 19  current_club_domestic_competition_id  object
 20  current_club_name_x                   object
 21  market_value_in_eur                   float64
 22  highest_market_value_in_eur           float64
 23  date                                  datetime64[ns]
 24  season_year                           float64
 25  nationality_diversity                 float64
 26  country_of_citizenship_y              object
 27  current_club_id_y                     int64
 28  current_club_name_y                   object
dtypes: datetime64[ns](2), float64(5), int64(4), object(18)
memory usage: 377.3+ MB

In [166]:
print(Team_Layer.columns)

Index(['player_id', 'first_name', 'last_name', 'name', 'last_season',
       'current_club_id_x', 'player_code', 'country_of_birth', 'city_of_birth',
       'country_of_citizenship_x', 'date_of_birth', 'sub_position', 'position',
       'foot', 'height_in_cm', 'contract_expiration_date', 'agent_name',
       'image_url', 'url', 'current_club_domestic_competition_id',
       'current_club_name_x', 'market_value_in_eur',
       'highest_market_value_in_eur', 'date', 'season_year',
       'nationality_diversity', 'country_of_citizenship_y',
       'current_club_id_y', 'current_club_name_y'],
      dtype='object')

In [167]:
Team_Layer = Team_Layer.drop(columns=['current_club_id_x', 'current_club_id_y'])

In [168]:


# แล้วค่อย merge ใหม่
Team_Layer = Team_Layer.merge(
    players[['player_id', 'current_club_name']],
    on='player_id',
    how='left'
)

In [173]:
Team_Layer[['current_club_name', 'name', 'country_of_citizenship_x']].drop_duplicates().head()
Team_Layer.rename(columns={'country_of_citizenship_x': 'country_of_citizenship'}, inplace=True)
Team_Layer.drop(columns=['country_of_citizenship_y'], inplace=True)

In [175]:
Team_Layer = Team_Layer.merge(
    players[['player_id', 'current_club_id']],
    on='player_id',
    how='left'
)

In [176]:

nationality_diversity = (
    Team_Layer
    .groupby(['current_club_id', 'season_year'])['country_of_citizenship']
    .nunique()
    .reset_index(name='nationality_diversity')
)

print(nationality_diversity)

      current_club_id  season_year  nationality_diversity
0                   3       2012.0                      4
1                   3       2013.0                      4
2                   3       2014.0                      9
3                   3       2015.0                      9
4                   3       2016.0                      7
...               ...          ...                    ...
5027           110302       2021.0                      7
5028           110302       2022.0                      4
5029           110302       2023.0                      7
5030           110302       2024.0                     12
5031           110302       2025.0                     12

[5032 rows x 3 columns]

In [177]:
team_diversity = nationality_diversity[nationality_diversity['current_club_id'] == 985]
print(team_diversity)

      current_club_id  season_year  nationality_diversity
2275              985       2012.0                     12
2276              985       2013.0                     12
2277              985       2014.0                     13
2278              985       2015.0                     11
2279              985       2016.0                     14
2280              985       2017.0                     14
2281              985       2018.0                     14
2282              985       2019.0                     15
2283              985       2020.0                     14
2284              985       2021.0                     15
2285              985       2022.0                     15
2286              985       2023.0                     15
2287              985       2024.0                     15
2288              985       2025.0                     13

In [178]:
team_diversity = nationality_diversity[nationality_diversity['current_club_id'] == 31]
print(team_diversity)

     current_club_id  season_year  nationality_diversity
198               31       2012.0                      6
199               31       2013.0                      9
200               31       2014.0                      9
201               31       2015.0                     10
202               31       2016.0                     13
203               31       2017.0                     13
204               31       2018.0                     13
205               31       2019.0                     13
206               31       2020.0                     18
207               31       2021.0                     18
208               31       2022.0                     18
209               31       2023.0                     19
210               31       2024.0                     18
211               31       2025.0                     16

In [179]:
Team_Layer = Team_Layer.merge(
    players[['player_id', 'market_value_in_eur']],
    on='player_id',
    how='left'
)

In [181]:
Team_Layer = Team_Layer.rename(columns={'market_value_in_eur_x': 'market_value_in_eur'})
Team_Layer.drop(columns=['market_value_in_eur_y'], inplace=True)

In [182]:
avg_market_value = (
    Team_Layer
    .groupby(['current_club_id', 'season_year'])['market_value_in_eur']
    .mean()
    .reset_index(name='avg_market_value')
)

In [183]:
Team_Layer = Team_Layer.merge(
    avg_market_value,
    on=['current_club_id', 'season_year'],
    how='left'
)

In [186]:
appearances_players = appearances_players.merge(
    players[['player_id', 'current_club_name', 'country_of_citizenship']],
    on='player_id',
    how='left'
)
print(appearances_players[['current_club_name', 'country_of_citizenship']].head())

                      current_club_name country_of_citizenship
0  Rooms Katholieke Combinatie Waalwijk             Luxembourg
1                        FC Rubin Kazan             Azerbaijan
2            Saint Mirren Football Club                Estonia
3                      Fatih Karagümrük                 Norway
4                             Hull City                 Norway

In [187]:
appearances_players = appearances_players.merge(
    avg_market_value,  # <- result from your groupby earlier
    left_on=['player_current_club_id', 'season_year'],
    right_on=['current_club_id', 'season_year'],
    how='left'
)

In [188]:
appearances_players[['avg_market_value', 'current_club_name',  'country_of_citizenship']].head()

,avg_market_value,current_club_name,country_of_citizenship
0,196659.482759,Rooms Katholieke Combinatie Waalwijk,Luxembourg
1,231666.666667,FC Rubin Kazan,Azerbaijan
2,194902.912621,Saint Mirren Football Club,Estonia
3,607482.394366,Fatih Karagümrük,Norway
4,588636.363636,Hull City,Norway

In [189]:
print(Team_Layer[Team_Layer['name'] == 'Sander Puri'][['market_value_in_eur', 'name']])

        market_value_in_eur         name
285887             100000.0  Sander Puri
285888             100000.0  Sander Puri
285889             100000.0  Sander Puri
285890             100000.0  Sander Puri
285891             100000.0  Sander Puri
285892             100000.0  Sander Puri
285893             100000.0  Sander Puri
285894             100000.0  Sander Puri

In [190]:
Team_Layer_players_unique_club = (
    Team_Layer[['current_club_name', 'avg_market_value']]
    .drop_duplicates(subset='current_club_name')
    .sort_values(by='avg_market_value', ascending=False)
)

print(Team_Layer_players_unique_club.head())

                        current_club_name  avg_market_value
7132    Paris Saint-Germain Football Club      1.475698e+07
745761         Ipswich Town Football Club      1.231468e+07
107346         Real Madrid Club de Fútbol      9.875622e+06
6864              Liverpool Football Club      8.450350e+06
411                     FC Bayern München      6.076608e+06

In [191]:
print(
    Team_Layer[Team_Layer['season_year'] == 2024]
    .drop_duplicates(subset='current_club_name')  
    .sort_values(by='avg_market_value', ascending=False) 
    [['current_club_name', 'avg_market_value']].head(10)
)

                        current_club_name  avg_market_value
168290         Real Madrid Club de Fútbol      6.157845e+07
360580      Manchester City Football Club      5.536737e+07
669375              Arsenal Football Club      5.343193e+07
562816  Paris Saint-Germain Football Club      4.884115e+07
248836              Futbol Club Barcelona      4.798236e+07
449639            Liverpool Football Club      4.655709e+07
177817              Chelsea Football Club      4.324203e+07
100937                  FC Bayern München      4.062466e+07
371356    Tottenham Hotspur Football Club      3.486844e+07
92766     Manchester United Football Club      3.394159e+07

In [192]:
top5_market_value_teams = (
    Team_Layer
    .groupby(['season_year', 'current_club_id', 'current_club_name'])['market_value_in_eur']
    .sum()
    .reset_index(name='total_market_value')
    .sort_values(by='total_market_value', ascending=False)
    .head(5)
)

print(top5_market_value_teams)

      season_year  current_club_id              current_club_name  \
4312       2023.0              418     Real Madrid Club de Fútbol
4283       2023.0              281  Manchester City Football Club
4605       2024.0              418     Real Madrid Club de Fútbol
4005       2022.0              418     Real Madrid Club de Fútbol
4577       2024.0              281  Manchester City Football Club

      total_market_value
4312        5.604650e+10
4283        5.520300e+10
4605        5.258800e+10
4005        5.244250e+10
4577        4.988600e+10

Age Mean

In [195]:
Team_Layer.rename(columns={'date_of_birth_x': 'date_of_birth'}, inplace=True)
print(Team_Layer.columns)

Index(['player_id', 'first_name', 'last_name', 'name', 'last_season',
       'player_code', 'country_of_birth', 'city_of_birth',
       'country_of_citizenship', 'date_of_birth', 'sub_position', 'position',
       'foot', 'height_in_cm', 'contract_expiration_date', 'agent_name',
       'image_url', 'url', 'current_club_domestic_competition_id',
       'current_club_name_x', 'market_value_in_eur',
       'highest_market_value_in_eur', 'date', 'season_year',
       'nationality_diversity', 'current_club_name_y', 'current_club_name',
       'current_club_id', 'avg_market_value', 'date_of_birth_y'],
      dtype='object')

In [197]:

Team_Layer = Team_Layer.merge(
    players[['player_id', 'date_of_birth']],  
    on='player_id',
    how='left'
)
Team_Layer['date_of_birth'] = pd.to_datetime(Team_Layer['date_of_birth'])
Team_Layer['age'] = Team_Layer['season_year'] - Team_Layer['date_of_birth'].dt.year
Team_Layer[Team_Layer['season_year'] == 2025][['name', 'season_year', 'age']].head()

                      name  season_year   age
24887  Anastasios Tsokanis       2025.0  34.0
24888  Anastasios Tsokanis       2025.0  34.0
24889  Anastasios Tsokanis       2025.0  34.0
24890  Anastasios Tsokanis       2025.0  34.0
24891  Anastasios Tsokanis       2025.0  34.0

In [198]:
# คำนวณค่าเฉลี่ยอายุของนักเตะในแต่ละทีม (ตาม current_club_id และ season_year)
avg_age_team = Team_Layer.groupby(['current_club_id', 'season_year'])['age'].mean().reset_index(name='avg_age_team')

# แสดงผลลัพธ์ของ avg_age_team
avg_age_team.head()

   current_club_id  season_year  avg_age_team
0                3       2012.0     22.909091
1                3       2013.0     23.306034
2                3       2014.0     25.236667
3                3       2015.0     25.978571
4                3       2016.0     26.347945

In [199]:

Team_Layer = Team_Layer.merge(
    avg_age_team, 
    on=['current_club_id', 'season_year'], 
    how='left'
)

In [200]:
top_clubs_2025 = Team_Layer.groupby(['current_club_name', 'season_year'])['avg_age_team'].mean().reset_index()
top_clubs_2025_sorted = top_clubs_2025.sort_values(by='avg_age_team', ascending=False)
top_10_clubs_2025 = top_clubs_2025_sorted.head(10)

top_10_clubs_2025

         current_club_name  season_year  avg_age_team
1037         Chievo Verona       2018.0     34.318436
1038         Chievo Verona       2019.0     34.212121
85              AC Ajaccio       2021.0     33.862500
1036         Chievo Verona       2017.0     33.595331
2260           GFC Ajaccio       2012.0     33.111111
3564   Queens Park Rangers       2014.0     33.000000
84              AC Ajaccio       2020.0     32.860465
3933             SC Bastia       2016.0     32.768293
3565   Queens Park Rangers       2015.0     32.708333
1192  Delfino Pescara 1936       2015.0     32.631579

In [209]:
print(Team_Layer.columns)

Index(['player_id', 'first_name', 'last_name', 'name', 'last_season',
       'player_code', 'country_of_birth', 'city_of_birth',
       'country_of_citizenship', 'date_of_birth_x', 'sub_position', 'position',
       'foot', 'height_in_cm', 'contract_expiration_date', 'agent_name',
       'image_url', 'url', 'current_club_domestic_competition_id',
       'current_club_name_x', 'market_value_in_eur',
       'highest_market_value_in_eur', 'date', 'season_year',
       'nationality_diversity', 'current_club_name_y', 'current_club_name',
       'current_club_id', 'avg_market_value', 'date_of_birth_y',
       'date_of_birth_y', 'date_of_birth', 'age', 'avg_age_team'],
      dtype='object')

Squad_size

In [202]:
squad_size = players.groupby('current_club_id')['player_id'].nunique().reset_index()
squad_size.columns = ['current_club_id' , 'squad_size']


squad_size

     current_club_id  squad_size
0                  3          74
1                  4          37
2                  5          93
3                  6          27
4                 10          28
..               ...         ...
432            75231          25
433            83678          36
434            85465          29
435            86209          24
436           110302          28

[437 rows x 2 columns]

num_player_transferred

In [203]:
num_player_transferred = transfers.groupby(['to_club_id', 'transfer_date'])['player_id'].count().reset_index()
num_player_transferred.columns = ['current_club_id', 'season', 'num_player_transferred']

num_player_transferred

       current_club_id      season  num_player_transferred
0                    1  2016-01-27                       1
1                    1  2017-07-01                       1
2                    1  2020-08-14                       1
3                    1  2021-02-09                       1
4                    1  2022-07-01                       1
...                ...         ...                     ...
59190           124847  2012-01-31                       1
59191           124917  2013-07-01                       1
59192           125074  2017-07-31                       1
59193           127124  2006-07-01                       1
59194           128258  2013-07-01                       1

[59195 rows x 3 columns]

goal_different

In [204]:
games = pd.read_csv('games.csv')

In [205]:
print(games.isnull().sum())
print(games.shape)

game_id                       0
competition_id                0
season                        0
round                         0
date                          0
home_club_id                  9
away_club_id                  9
home_club_goals              12
away_club_goals              12
home_club_position        22467
away_club_position        22467
home_club_manager_name      828
away_club_manager_name      828
stadium                     250
attendance                 9948
referee                     652
url                           0
home_club_formation        6975
away_club_formation        6806
home_club_name            12850
away_club_name            11455
aggregate                    12
competition_type              0
dtype: int64
(74026, 23)

In [206]:
games = games.drop(columns=['home_club_position','home_club_position','home_club_formation','away_club_formation','attendance','home_club_name','away_club_name'])
games = games.dropna()
print(games.isnull().sum())
print(games.shape)

game_id                   0
competition_id            0
season                    0
round                     0
date                      0
home_club_id              0
away_club_id              0
home_club_goals           0
away_club_goals           0
away_club_position        0
home_club_manager_name    0
away_club_manager_name    0
stadium                   0
referee                   0
url                       0
aggregate                 0
competition_type          0
dtype: int64
(51328, 17)

In [207]:
#home goal
home_goal_diff_df = (
    games.assign(goal_diff=games['home_club_goals'] - games['away_club_goals'])
    .groupby('home_club_id')['goal_diff']
    .mean()
    .reset_index(name='home_goal_diff')
    .rename(columns={'home_club_id': 'club_id'})
)
home_goal_diff_df

      club_id  home_goal_diff
0         3.0       -0.052288
1         4.0       -0.333333
2         5.0        0.688525
3         6.0       -0.705882
4        10.0       -0.529412
..        ...             ...
434   75231.0        0.416667
435   83678.0       -1.133333
436   85465.0        1.166667
437   86209.0       -0.545455
438  110302.0       -0.642857

[439 rows x 2 columns]

In [208]:
#away goal
away_goal_diff_df = (
    games.assign(goal_diff=games['away_club_goals'] - games['home_club_goals'])
    .groupby('away_club_id')['goal_diff']
    .mean()
    .reset_index(name='away_goal_diff')
    .rename(columns={'away_club_id': 'club_id'})
)
away_goal_diff_df

      club_id  away_goal_diff
0         3.0       -0.692810
1         4.0       -1.294118
2         5.0        0.292181
3         6.0       -1.000000
4        10.0       -1.000000
..        ...             ...
434   75231.0       -0.909091
435   83678.0       -0.933333
436   85465.0       -0.909091
437   86209.0       -0.545455
438  110302.0       -1.000000

[439 rows x 2 columns]

In [212]:
correlation_weights = {
    'z_goals_per_90': 0.0701,
    'z_assists_per_90': 0.0499,
    'z_minutes_played_per_90': 0.0175,
    'z_yellow_card_per_90': -0.0119,
    'z_red_card_per_90': -0.0004
}

total_weight = sum(abs(v) for v in correlation_weights.values())
normalized_weights = {k: v / total_weight for k, v in correlation_weights.items()}

In [213]:
appearances_players['performance_score'] = (
    appearances_players['z_goals_per_90'] * normalized_weights['z_goals_per_90'] +
    appearances_players['z_assists_per_90'] * normalized_weights['z_assists_per_90'] +
    appearances_players['z_minutes_played_per_90'] * normalized_weights['z_minutes_played_per_90'] +
    appearances_players['z_yellow_card_per_90'] * normalized_weights['z_yellow_card_per_90'] +
    appearances_players['z_red_card_per_90'] * normalized_weights['z_red_card_per_90']
)

In [214]:
appearances_players[['player_name', 'sub_position', 'performance_score']].head()

        player_name      sub_position  performance_score
0  Aurélien Joachim           Striker           1.052737
1    Ruslan Abyshov       Centre-Back           0.116822
2       Sander Puri  Central Midfield           0.058411
3   Vegar Hedenstad        Right-Back           0.116822
4  Markus Henriksen       Centre-Back           0.116822

In [215]:
avg_perf_df = (
    appearances_players
    .groupby(['player_current_club_id', 'season_year'])['performance_score']
    .mean()
    .reset_index(name='avg_performance_score')
)

# Rename to match Team_Layer's club column
avg_perf_df.rename(columns={'player_current_club_id': 'current_club_id'}, inplace=True)

# Merge into Team_Layer
Team_Layer = Team_Layer.merge(avg_perf_df, on=['current_club_id', 'season_year'], how='left')

In [222]:
# 1. Group by team and season, compute mean experience score
avg_exp_df = (
    appearances_players
    .groupby(['player_current_club_id', 'season_year'])['experience_score']
    .mean()
    .reset_index(name='avg_experience_score')
)

# 2. Rename to match team layer structure
avg_exp_df.rename(columns={'player_current_club_id': 'current_club_id'}, inplace=True)

# 3. Merge into Team_Layer
Team_Layer = Team_Layer.merge(avg_exp_df, on=['current_club_id', 'season_year'], how='left')

In [223]:
Team_Layer.head()

,player_id,first_name,last_name,name,last_season,player_code,country_of_birth,city_of_birth,country_of_citizenship,date_of_birth_x,...,current_club_id,avg_market_value,date_of_birth_y,date_of_birth_y,date_of_birth,age,avg_age_team,avg_performance_score,avg_experience_score_x,avg_experience_score_y
0,10,Miroslav,Klose,Miroslav Klose,2015,miroslav-klose,Poland,Opole,Germany,1978-06-09,...,398,623212.851406,1978-06-09,1978-06-09,1978-06-09,34.0,29.012048,0.156215,0.392255,0.371478
1,10,Miroslav,Klose,Miroslav Klose,2015,miroslav-klose,Poland,Opole,Germany,1978-06-09,...,398,623212.851406,1978-06-09,1978-06-09,1978-06-09,34.0,29.012048,0.156215,0.392255,0.371478
2,10,Miroslav,Klose,Miroslav Klose,2015,miroslav-klose,Poland,Opole,Germany,1978-06-09,...,398,623212.851406,1978-06-09,1978-06-09,1978-06-09,34.0,29.012048,0.156215,0.392255,0.371478
3,10,Miroslav,Klose,Miroslav Klose,2015,miroslav-klose,Poland,Opole,Germany,1978-06-09,...,398,623212.851406,1978-06-09,1978-06-09,1978-06-09,34.0,29.012048,0.156215,0.392255,0.371478
4,10,Miroslav,Klose,Miroslav Klose,2015,miroslav-klose,Poland,Opole,Germany,1978-06-09,...,398,623212.851406,1978-06-09,1978-06-09,1978-06-09,34.0,29.012048,0.156215,0.392255,0.371478

result ,score/goal difference

In [228]:

home_df = games[['game_id', 'date', 'season', 'home_club_id', 'home_club_goals', 'away_club_goals']].copy()
home_df['club_id'] = home_df['home_club_id']
home_df['goals_for'] = home_df['home_club_goals']
home_df['goals_against'] = home_df['away_club_goals']
home_df['is_home'] = 1


away_df = games[['game_id', 'date', 'season', 'away_club_id', 'away_club_goals', 'home_club_goals']].copy()
away_df['club_id'] = away_df['away_club_id']
away_df['goals_for'] = away_df['away_club_goals']
away_df['goals_against'] = away_df['home_club_goals']
away_df['is_home'] = 0


club_games = pd.concat([home_df, away_df], ignore_index=True)


club_games = club_games[['game_id', 'club_id', 'date', 'season', 'goals_for', 'goals_against', 'is_home']]

In [229]:
def get_result(row):
    if row['goals_for'] > row['goals_against']:
        return 3
    elif row['goals_for'] == row['goals_against']:
        return 1
    else:
        return 0

club_games['result_score'] = club_games.apply(get_result, axis=1)


club_games['goal_diff'] = club_games['goals_for'] - club_games['goals_against']

In [230]:
k = 5  # Window size

club_games = club_games.sort_values(by=['club_id', 'date'])

club_games['form_score'] = (
    club_games
    .groupby('club_id')['result_score']
    .transform(lambda x: x.rolling(window=k, min_periods=1).sum())
)

club_games['goal_diff_recent'] = (
    club_games
    .groupby('club_id')['goal_diff']
    .transform(lambda x: x.rolling(window=k, min_periods=1).mean())
)

In [227]:
games.columns

Index(['game_id', 'competition_id', 'season', 'round', 'date', 'home_club_id',
       'away_club_id', 'home_club_goals', 'away_club_goals',
       'away_club_position', 'home_club_manager_name',
       'away_club_manager_name', 'stadium', 'referee', 'url', 'aggregate',
       'competition_type'],
      dtype='object')

# Player Performance

In [ ]:
appearances_player_goal = appearances.groupby('player_id')['goals'].sum().sort_values(ascending=False)
appearances_player_goal.head()

In [ ]:
players_performance = players.merge(appearances_player_goal, on='player_id', how='inner')
players_performance['total_goals'] = players_performance['goals']
players_performance.drop('goals',axis=1)
players_performance

In [ ]:
players_performance.sort_values(by='total_goals', ascending=False).head()

# Goals Player